
html {
    height: 100%;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 12px 15px rgb(197, 183, 209);
    border-radius: 20px;
    align-items: center;
}

.logo {
    font-size: 45px;
    color: rgb(64, 42, 87);
    font-width: 50px;
    margin: 8px;
    font-family: "Google Sans Flex";
    font-style: bold;
}

.buy {
    font-size: 20px;
    border-style: none;
    border-radius: 40px;
    background-color: rgb(132, 95, 180);
    padding: 10px 15px;
    color: aliceblue;
    margin: 10px;
    font-family:"Google Sans Flex" ;
     font-variation-settings:
    "slnt" 0,
    "wdth" 112.5,
    "GRAD" 0,
    "ROND" 0; font-variation-settings:
    "slnt" 0,
    "wdth" 112.5,
    "GRAD" 0,
    "ROND" 0;
}

.menu {
    padding: 5px;
}

.banner {
    padding: 35px;
}

.bann {
    border-radius: 50px;
    display: flex;
    justify-content: center;
    object-fit: contain;
    width: auto;
    height: 380px;

}

body {
    height: 100%;
}

.product {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.cards {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 36px;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 10px 15px rgb(187, 170, 202);
    margin: 15px;

}

.card {
    width: 300px;
    height: 400px;
    object-fit: cover;
    border-radius: 45px;
}

